<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for WPF 2023.1.315.0" value="C:\Users\David\AppData\Roaming\Telerik\Updates\Telerik_UI_for_WPF_2023_1_315_Dev_Hotfix\Binaries\WPF60\NuGet" />
    <add key="Telerik UI for WPF Telerik.UI.for.Wpf.60.Xaml.2023.1.315" value="C:\Users\David\AppData\Roaming\Telerik\Updates\Telerik_UI_for_WPF_2023_1_315_Dev_Hotfix\Binaries\WPF60\NuGet" />
  </packageSources>
</configuration>